


<div class="container">

  <div class="row">
    <div class="col-12">
      <h4 style="text-align:center;">Upload a txt access logfile wich is processed in the server to create a ​new​ file that holds the log data structured as a JSON-Array.</h4>

      <br>
    
      <div *ngIf="isUploadingFile" class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
              [style.width]="(uploadFileProgress) + '%'" 
              [attr.aria-valuenow]="(uploadFileProgress)" 
              aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>

      <br>

      <div *ngIf="!isLoading && !isUploadingFile" class="text-center">
        <div class="upload-btn-wrapper">
          <button class="btn-upload"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Upload Log File</button>
          <input type="file" name="file" accept=".txt" (change)="onClickUploadFile($event)"/>
        </div>
      </div>
      
    </div>
  </div>  

  <div *ngIf="isLoading" class="container text-center">
    <br><br>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="logFileTxtMetadata" class="text-center">
    <br><br>
    <div class="row">
      <div class="col-6">
        <a class="btn btn-primary btn-block" target="_blank" [href]="logFileTxtMetadata.url" role="button">
          View TXT File
        </a>  
      </div>
      <div class="col-6">
        <!-- uploaded, load, transform, complete, error -->
        <a *ngIf="logFileTxtMetadata.transformStatus === 'uploaded' 
                  || logFileTxtMetadata.transformStatus === 'load'
                  || logFileTxtMetadata.transformStatus === 'transform'" 
            class="btn btn-warning btn-block" role="button">
          <i class="fa fa-spinner fa-spin"></i>&nbsp; Backend {{ logFileTxtMetadata.transformStatus }}...
        </a>
        
        <a *ngIf="logFileTxtMetadata.transformStatus === 'complete'" 
            class="btn btn-success btn-block" target="_blank" [href]="logFileTxtMetadata.urlJsonTransformedFile" role="button">
          View JSON File
        </a>

        <a *ngIf="logFileTxtMetadata.transformStatus === 'error'" 
            class="btn btn-danger btn-block" role="button">
          <i class="fas fa-exclamation-triangle"></i> Error processing file
        </a>
        
      </div>
    </div>
  </div>

</div>