


.upload-wrap {
    position: relative;
  }
  
  .upload-btn {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  
  .song {
    color: whitesmoke;
    box-sizing: content-box;
    align-items: center;
    background-color: transparent
  }
  
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding-right: 1px;
    padding-left: 1px;
    display:inline-block;
  }
  
  
  .input-wrap  {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  /* input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  } */
  
  .thumbnail img { 
    min-height:50px; 
    height:50px; 
  }
  
  .img-wrap {
    position: relative;
  }
  .img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 4px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }