

<div class="container-fluid">

  <div class="row">
    <div class="col-12" #containerWidth>
      <h1 style="text-align:center;">Server logs analysis</h1>
    </div>
  </div>

  <br>

  <div *ngIf="isLoading || isLoadingView" class="container text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  
  <div *ngIf="!isLoading && !isLoadingView" class="container-fluid text-center">
    
    <div class="row">
      <div class="col-12" >
        <h4 style="text-align:center;">Requests per minute over the entire time span</h4>
        <div #chartContainer>
            <ngx-charts-line-chart 
              [view]="requestsPerMinuteChartDimensions"
              [scheme]="requestsPerMinuteChartColorScheme"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [xAxisLabel]="requestsPerMinuteChartxAxisLabel"
              [yAxisLabel]="requestsPerMinuteChartyAxisLabel"
              [timeline]="true"
              [results]="requestsPerMinuteChartData">
            </ngx-charts-line-chart>
        </div> 
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12" >
        <h4 style="text-align:center;">Distribution of HTTP request methods</h4>
        <ngx-charts-advanced-pie-chart
          [view]="requestMethodsChartDimensions"
          [scheme]="requestsMethodsChartColorScheme"
          [results]="requestMethodsChartData"
          [gradient]="true">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-12">
        <h4 style="text-align:center;">Distribution of HTTP response codes</h4>
        <div *ngIf="false">
          <ngx-charts-pie-grid
            [view]="responseCodesChartDimensions"
            [scheme]="responseCodesChartColorScheme"
            [results]="responseCodesChartData">
          </ngx-charts-pie-grid>
        </div>
        <!-- -->
        <div *ngIf="true">
          <ngx-charts-advanced-pie-chart
            [view]="responseCodesChartDimensions"
            [scheme]="responseCodesChartColorScheme"
            [results]="responseCodesChartData"
            [gradient]="true">
          </ngx-charts-advanced-pie-chart> 
        </div>
        <div *ngIf="false">
          <ngx-charts-pie-chart
            [view]="responseCodesChartDimensions"
            [scheme]="responseCodesChartColorScheme"
            [results]="responseCodesChartData"
            [gradient]="true"
            [legend]="true"
            [legendPosition]="legendPosition"
            [labels]="true"
            [doughnut]="false">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <h4 style="text-align:center;">Distribution of the size of the answer of all requests with code 200 and size < 1000B</h4>
        <ngx-charts-line-chart
          [view]="responseSizeChartDimensions"
          [scheme]="responseSizeChartColorScheme"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [xAxisLabel]="responseSizeChartxAxisLabel"
          [yAxisLabel]="responseSizeChartyAxisLabel"
          [timeline]="false"
          [results]="responseSizeChartData">
        </ngx-charts-line-chart>

        <!-- <ngx-charts-bar-vertical
          [view]="responseSizeChartDimensions"
          [scheme]="responseSizeChartColorScheme"
          [results]="responseSizeChartData"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="responseSizeChartxAxisLabel"
          [yAxisLabel]="responseSizeChartyAxisLabel">
        </ngx-charts-bar-vertical> -->
      </div>
    </div>

  </div>

</div>

<br><br><br><br>
<hr>