
<header >

  <nav class="navbar navbar-dark justify-content-center py-3">
    
    <!-- Logo UFirstgroup -->
    <section>
      <img [routerLink]="['/']" 
           src="/assets/images/ufg-wordmark.png" alt="Wordmark" class="img-fluid cursor" style="width: 140px;">
    </section>

  </nav>

</header>