

@media (min-width: 320px) {
    .d-sm-inline-block {
        display: inline-block!important;
    }
  }
  
  .navbar button {
    position: absolute;
    right: 15px;
  }
  
  .navbar button:focus {}
  
  .navbar button svg {
    width: 30px;
  }
  
  .navbar button svg path {
    fill: #fff;
    transition: .3s;
  }
  
  .navbar button:hover svg path {
    fill: #999;
  }
  
  .search-input {
    border-radius: 30px;
  }
  
  .input-group-append {
    z-index: 999;
    pointer-events: none;
  }
  
  .input-group-append span {
    font-size: 30px !important;
    line-height: 30px !important;
    padding: 8px !important;
    font-weight: 300;
    border-left: 0;
  }
  
  .radios label {
    width: 80px;
  }
  
  
  #user-pic {
    top: -3px;
    position: relative;
    display: inline-block;
    background-image: url('/assets/images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
  }
  
  @media screen and (max-width: 610px) {
  
    #user-pic {
      top: 2px;
      width: 33px;
      height: 33px;
      background-size: 33px;
    }
  }
  
  
  /* ---------- Commerce info ---------- */
  
  .commerce-info .top {
    background: #331C74;
  }
  
  .commerce-info .top img {
    width: 55px;
  }
  
  .commerce-info .top a.btn {
    padding: 0px 35px !important;
  }
  
  .commerce-info .details p {
    margin-bottom: 10px;
  }
  
  .commerce-info .details a {
    font-size: 18px;
  }
  
  .commerce-info .details ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
  }
  