


<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>Javier Gracia Muro &copy; 2020</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Logs by <a href="mailto:laurab@ee.duke.edu?Subject=Thanks" target="_top">Laura Bottomley</a> from Duke University</p>
        </div>
      </div>
    </div>
  </footer>