
/*
* ==========================================================
*       MAIN FOOTER
* ==========================================================
*/
footer.main-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #222;
    padding: 10px 0;
  }
  
  footer.main-footer p {
    font-size: 0.7em;
    color: #777;
    margin: 0;
  }
  
  /* MAIN FOOTER MEDIAQUERIES ------------------------- */
  @media (max-width: 575px) {
    footer.main-footer div[class*="col-"] {
      text-align: center !important;
    }
  }
  
  @media (min-width: 768px) {
    footer.main-footer p {
      font-size: 0.9em;
    }
  }