


.assignment-cards {
    margin-bottom: 50px
}


$size: 100px;
.astronaut {
  animation: move-x-spin 15s linear infinite alternate;
}

@keyframes move-x-spin {
  100% {
    transform: translateX( calc(100vw - #{$size}) ) rotate(360deg);
  }
}
