


<div class="container">

  <div class="row my-4">
    <div class="col">
      
      <div>
        <h1 class="text-center">Assignment for Software-Engineers</h1>
        <hr>
        <br>
        <div class="container-fluid assignment-cards">
          <div class="row">
            <div class="col-sm d-flex">
              <div class="card card-body flex-fill cursor" routerLink="/file-processing">
                <h4 class="card-title">Assignment Task 1</h4>
                <p class="card-text">Write a script that imports the access logfile and creates a ​new​ file that holds the log data structured as a JSON-Array.</p>
              </div>
            </div>
            <div class="col-sm d-flex cursor" routerLink="/graphical-analysis">
              <div class="card card-body flex-fill">
                <h4 class="card-title">Assignment Task 2</h4>
                <p class="card-text">Create one or more HTML- and Javascript-Files that read the JSON-File and render chart analysis graphically.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <img class="astronaut" src="./../../../assets/images/ufg-astronaut-small.png" />
  
</div>
