/* You can add global styles to this file, and also import other style files */


/* ---------- general ---------- */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #F9C5DE 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cursor {
    cursor: pointer;
}


.spinner-border {
    color: #d21c61
}
